/* 1. Primero las importaciones externas */
@import 'mapbox-gl/dist/mapbox-gl.css';

/* 2. Luego las directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Tus estilos globales (si tienes) */
html, body {
  height: 100%;
  margin: 0;
}
